:root {
  --primary: #202020;
  --box-size: 80px;
  --border-color: #999;
  --border-color-darker: #333;
  --color-primary: #f4f4f4;
  --color-secondary: #969696;
  --timeline-color-1: #181818;
  --timeline-color-2: #3c3c3c;
  --nav-height: 65px;
  --header-height: 95px;
  --hour-timeline-width: 300px;
  --now-timeline-color: #e2a43b;
  font-family: "Source Sans Pro", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border: 0px none var(--color-secondary);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: var(--primary);
  border: 0px none var(--color-secondary);
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: var(--primary);
}

::-webkit-scrollbar-track:active {
  background: var(--primary);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

header {
  height: var(--header-height);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

header img {
  height: 2rem;
}

header img.nm-icon {
  height: 4rem;
}

.right-shadow {
  -webkit-box-shadow: 4px 0px 6px 0px black;
  -moz-box-shadow: 4px 0px 6px 0px black;
  box-shadow: 4px 0px 6px 0px black;
  z-index: 2;
  position: relative;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  padding: 0 1rem;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0 0 6px 2px black;
  -moz-box-shadow: 0 0 6px 2px black;
  box-shadow: 0 0 6px 2px black;
  z-index: 1024;
}

nav img {
  height: 2rem;
}

.container {
  background-color: var(--primary);
  height: 100%;
  min-height: calc(100vh - 9rem);
  position: relative;
  color: var(--color-primary);
}

.box {
  height: var(--box-size);
  background-color: var(--primary);
}

.custom-box {
  height: var(--box-size);
  max-height: var(--box-size);
  width: var(--box-size);
  min-width: var(--box-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-box.favorite img {
  height: 30px;
  position: relative;
  top: -4px;
}

.box.box-daytimeline {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

button.box-day {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-secondary);
  border: none;
}

.box-day.selected {
  color: var(--color-primary);
}

.flex {
  display: flex;
}

.border-top {
  z-index: 2;
  border-top: 1px solid var(--border-color);
  position: relative;
}

.border-bottom {
  border-bottom: 2px solid var(--border-color);
}

.box-channel {
  width: var(--box-size);
}

.box-channel img {
  padding: 1rem;
  width: 100%;
}

.timeline-container {
  height: calc(100vh - var(--nav-height) - var(--header-height) - var(--box-size));
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}

.timeline-channels {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

.timeline-channel {
  display: flex;
  border-top: 1px solid var(--border-color-darker);
}

.program-box {
  padding: 0.5rem;
}

.program-box h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 4px;
}

.program-box p {
  margin-top: 0;
  font-size: 12px;
}

.program-box {
  background-color: var(--timeline-color-1);
}

.program-box.live {
  background-color: var(--timeline-color-2);
}

.timeline-time {
  display: flex;
  height: calc(var(--box-size) / 2);
  min-height: calc(var(--box-size) / 2);
}

.timeline-hour {
  background-color: var(--primary);
  position: relative;
  left: -18px;
  width: var(--hour-timeline-width);
  min-width: var(--hour-timeline-width);
}

.hour-line {
  width: 1px;
  height: 12px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: 0;
  left: 18px;
}

.now-line {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--now-timeline-color);
  width: 1px;
  z-index: 4;
}

.now-line-notch {
  width: 5px;
  height: calc(var(--box-size) / 2);
  background-color: var(--now-timeline-color);
  border-radius: 10px;
  position: relative;
  left: -2px;
}

.now-button {
  position: fixed;
  bottom: calc(15px + var(--nav-height));
  right: 10px;
  z-index: 12;
  background-color: var(--now-timeline-color);
  border-radius: 8px;
  border: 1px solid var(--now-timeline-color);
  color: white;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  font-size: 20px;
  display: none;
}

.show {
  display: block;
}

.spinner {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2048;
  display: flex;
  align-items: center;
  justify-content: center;
}


.spinner .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: .75rem;
  animation: scale-up-and-down 1s ease-in-out infinite;
}

.spinner .dot:nth-child(2) {
  animation-delay: .2s;
}

.spinner .dot:nth-child(3) {
  animation-delay: .4s;
}

.spinner .dot:nth-child(4) {
  animation-delay: .6s;
}


@-webkit-keyframes scale-up-and-down {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-and-down {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.spinner .loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--border-color);
  border-top: 3px solid white;
  animation: rotate 1s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
