:root {
  --primary: #202020
}

body {
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

header img {
  height: 2rem;
}

header img.nm-icon {
  height: 4rem;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0 0 6px 2px var(--primary);
  -moz-box-shadow: 0 0 6px 2px var(--primary);
  box-shadow: 0 0 6px 2px var(--primary);
}

nav img {
  height: 2rem;
}

.container {
  background-color: var(--primary);
  height: 100%;
}